/.metadata/
# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project*
.metadata/*
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath*
.settings/*
.loadpath

#specific files and folders

JavaTraining/*
PracticeProj/*
practiceProj/*
CollectionAssignmentPart2/*
Collection_Question_1/*
Collection_Part3_Question1/*
Collection_Part3_Question2/*
ClassImplementations/*
Collection_Question_5/
Collection_Question_5/*
!Collection_Question_5/src
Collection_Question_6/
Collection_Question_6/*
!Collection_Question_6/src
Collection_Question_7/
Collection_Question_7/*
!Collection_Question_7/src
Collection_Question_8/
Collection_Question_8/*
!Collection_Question_8/src
Collection_Question_9/
Collection_Question_9/*
!Collection_Question_9/src
Collection_Question_10/
Collection_Question_10/*
!Collection_Question_10/src






# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
